<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitstrat.mapper.CoinsFeedMapper">

    <update id="updateLikeCountById">
        update coins_feed
        set like_count = like_count + #{count}
        where id = #{id}
    </update>
</mapper>
